<div>
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Meus Dados</a></li>
        <li class="divider"></li>
        <li><a href="#!">
            <i class="small material-icons">lock</i>
            Travar
        </a>
        </li>
        <li><a href="#!">
            <i class="small material-icons red-text text-darken-4">power_settings_new</i>
            Sair
        </a>
        </li>
    </ul>
    <div class="navbar-fixed">
        <nav class="cyan">

            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">DOGChic - Banho e Tosa</a>
                <a href="#" class="button-collapse"><i class="mdi-navigation-menu"
                                                       v-on:click="toggleSideNav"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a id="dropdown-perfil" class="dropdown-button" data-belowOrigin="true" href="#!"
                           data-activates="dropdown1">
                        <img src=""></img>
                              <span>Marcos Lino
                                <small>Administradror</small>
                              </span>
                        <i class="material-icons right">arrow_drop_down</i>
                    </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>