<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation">
        <li class="cyan darken-2">
            <div class="user-details">
            </div>
        </li>
        <li class="bold active"><a v-link="{ path: '/home' }" class="waves-effect waves-teal"><i class="mdi-action-home "></i> Início</a>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-teal"><i class="mdi-social-people "></i> Clientes</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a v-link="{ path: '/clientes' }">Incluir</a>
                            </li>
                            <li><a v-link="{ path: '/membro/imprimir-carteira'}" >Imprimir Carteira</a>
                            </li>
                        </ul>
                    </div>
                </li>
                
                <li class="bold"><a href="#" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Mala Direta</a>
            </ul>
        </li>
    </ul>
</aside>